/* .bg-color{
    background-color: #88bdf2;
    font-family: Arial, Helvetica, sans-serif;
} */
.bg-color{
    background-color: #88bdf2;
}
.container{
    margin-top: 300px;
   background-color: rgb(214, 125, 147);
   text-align: center;
}


.grid-container {
    display: flex;
    grid-gap: 20px;
    margin-bottom: 20px;
    text-align: center;
    margin-left: 376px;
}
.grid-child{
    padding: 20px 20px 20px 20px;
    color: white;
    text-align: center;
}