.page{
    margin: 1rem;
    display: flex ;
    max-width: 700px;
    align-items: flex-start;
    flex-wrap: wrap;
    height: 100%;
}
.box{
    padding: 1em;
    width: 100%;
    margin: 1px;
}
.box-2{
    padding: 0.5em;
    width: calc(100% /2 - 1em);
}
.options label , 
.options input{
    width: 70px;
    padding: 5px 2px;
    
}
.btn{
    background-color: green;
    color: white;
    border: 1px solid black;
    margin-top: 20px;
    margin-right: 10px;
    display: inline-block;
    cursor: pointer;
}
.hide{
    display: none;
}
/* .img{
    max-width: 100%;
} */