html{
    height: 100%;
}
body{
    display: flex;
    /* background-color: #3cb27f; */
    background-image: linear-gradient(90deg, #3cb27f,#f89898);
    align-items: center;
    font-family: 'Courier New', Courier, monospace;
    justify-content: center;
}
.container{
    background-color: rgb(191, 217, 233);
    position: relative;
    box-shadow: rgb(131, 190, 218) 5px 5px 5px 5px;
    margin-top: 25px;
    padding-bottom: 50px;
    border-radius: 5px;
    width: 80%;
    height: 800px;
}
.image-container{
    padding: 25px;
    width: 50%;
    height: calc(100% - 200px);
    border-right: 1px solid rgb(147, 163, 167);
    border-bottom: 1px solid rgb(147, 163, 167);
    
}
.image-workspace{
    height: 100%;
    justify-content: center;
    /* text-align: center; */
    display: flex;
    align-items: center;
}
.container img{
    max-width: 100%;
    max-height: 100%;
    display: block;
}

.preview-container{
    border: 1px solid rgb(147, 163, 167);
    position: absolute;
    top: 10px;
    right: 20px;
    width: 496px;
    height: 297px;
    min-height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.preview-cover{
    overflow: hidden;
}
.preview-container span{
    position: absolute;
    left: 170px;
    top: 150px;
}
.action-button{
    position: absolute;
    display: inline-block;
    bottom: 0px;
    border-right: 1px solid rgb(147, 163, 167);
    border-top: 1px solid rgb(147, 163, 167);
}
.action-button .upload , .action-button .download{
    display: block;
    background-color: rgb(147, 163, 167) ;
    box-shadow: rgb(131, 190, 218) 5px 5px 5px 5px;
    color: white;
    /* border: rgb(131, 190, 218); */
    width: 200px;
    height: 50px;
    margin: 10px;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    outline: none;
    transition: 0.2s;
    border-radius: 3px;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
}
.action-button .upload:active , .action-button .download:active{
    border: 1px solid rgb(191, 217, 233);
}
.bottom-control{
    user-select: none;
    display: inline-block;
    margin-left: 300px;
    margin-top: 100px;
}
.bottom-control .ctrl-cropper ,
.bottom-control .drag-mode,
.bottom-control .lock{
    display: inline-block;
    height: 100px;
    width: 180px;
    margin-left: 20px;
    border: 1px solid rgb(147, 163, 167);
    /* border-top: 1px solid rgb(147, 163, 167); */
}
.bottom-control span{
    display: block;
    padding: 10px;
    font-size: 15px;
    padding-bottom: 10px;
    text-align: center;
}
.bottom-control li{
    display: inline;
    list-style: none;
    margin-left: 10px;
}
.bottom-control li svg{
    display: inline;
    position: relative;
    /* border-radius: 10%; */
    /* padding: 5px; */
    background-color: rgb(147, 163, 167);
    border: 0.5px solid transparent;
    fill: white;
    transition-duration: 0.4s;
}
.bottom-control li svg:active{
    border: 2px solid rgb(131, 190, 218);
}